<form action="/admin/addTopic" method="POST">
    <label for="topic">Topic Name : </label>
    <input type="text" name="topic" required placeholder="Enter Topic name">
    <input type="submit" name="Add Topic">
</form>