<h3><u>Users</u></h3> 

<% for(var i of user_list.following){ %>
    <a href="/user/userDetails/?user_id=<%= i.id %>">
        <%= i.fname +' '+ i.lname %>
    </a> <br><br>
<% } %>

<h3><u>Topics</u></h3>
<% for(var i of user_list.topics){ %>
    <%= i.name %> <br>
<% } %>

<h3><u>Spaces</u></h3>