<header>
    <u>
        <b>Clone Quora</b> 
    </u>|
    <% if(locals.user){ %>
        <%= locals.user.fname + locals.user.lname %>|
        <% if(locals.user.is_verified=="true" && locals.user.is_selected=='true'){ %>
            <a href="/dashboard">Home</a> |
            <a href="/dashboard/profile">My Profile</a> |
            <a href="/question/questionForm">Add Question</a> |
            <form style="float: right;" action="/search/searchQuestions" method="POST">
                <input type="text" name="search" placeholder="search" size="35">
                <button><i class="fa fa-search"></i></button>
            </form>
        <% } %>
        <% if(locals.user && locals.user.email =="bhargavponduri@gmail.com"){%>
            <a href="/admin/topicForm">Add Topic</a> |
        <%}%>
        <a href="/user/signout">Sign Out</a> |
    <% }
    else{ %>
        <a href="/user/signup">SignUp</a>
        <a href="/">Login</a>
    <%}%>
</header>