<header>
    <u>
        <b>Clone Quora</b> 
    </u>|
    <% if(locals.user){ %>
        <%= locals.user.fname + locals.user.lname %>|
        <% if(locals.user.is_verified=="true"){ %>
            <a href="/dashboard">Home</a> |
            <a href="/dashboard/profile">My Profile</a> |
            <a href="/question/questionForm">Add Question</a> |
        <% } %>

        <a href="/user/signout">Sign Out</a> |
    <% }
    else{ %>
        <a href="/user/signup">SignUp</a>
        <a href="/">Login</a>
    <%}%>
</header>