<u>
    <h3>Spaces</h3>
</u>
<a href="/space/MySpaces">My Spaces</a> <br><br>
<a href="/space/spaceForm">Create New Space</a> <br><br>
<a href="/space/popularSpaces">Popular Spaces</a> <br><br>
<a href="/space/followingSpaces">Following Spaces</a> 
