<html>
    <head>
        <title>
            <%= title  %>
        </title>    
    </head>
    <body>
        <%- include('_header'); %>
        <br>
        <%- body %>
        <%- include('_footer'); %>
    </body>
</html>