<form action="/question/addQuestion" method="POST">
    <label for="question">Question : </label>
    <textarea name="question" cols="50" rows="5" placeholder="Add Your Question..."></textarea> 
    
    <br><br>

    <label for="topic">Related Topics : </label>
    <select id="topic" name='topics' multiple>
        <% for(var i of QList){ %>
            <option value=<%= i.name %>>
                <%= i.name %>
            </option>
        <% } %>
        <option value="Others">Others</option>
    </select>
    (Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.)

    <br><br>
    <input type="submit">
</form>