<form action="/user/create-session" method="POST">
    <label for="email">Email :</label>
    <input name= "email"type="email" required placeholder="Enter your Email"><br><br>
    <label for="password">Password :</label>
    <input name= "password" type="password" required placeholder="Enter your Password"><br><br>
    <button>Login</button>
</form>