<div class="body-login">
   

    <form action="/user/register" method="POST">
    
        <div class="container">
            <div class="login-form">
    
                <h2 class="title">Sign Up</h2>
        
        <div class="input-field">
        <label for="fname"></label>
        <input name= "fname" type="text" required placeholder="Enter your First Name">
    </div>
    <div class="input-field">
        <label for="lname"></label>
        <input name= "lname" type="text" required placeholder="Enter your Last Name">
    </div>
    
            <div class="fieldgroup">
        <label for="DOB">DOB :</label>
        <input name= "DOB" type="date" required placeholder="DD/MM/YYYY">
    </div>
    
        <div class="fieldgroup">
        <label for="gender" class="radio-inline">Gender :</label>
        <input class="radio" type="radio" id="male" name="gender" value="male" required>
        
        <label for="male" class="radio-inline">Male</label>
        <input class="radio" type="radio" id="female" name="gender" value="female">
       
            <label for="female">Female</label>
    
    </div>
    
            <div class="input-field">
        <label for="email"></label>
        <input name= "email"type="email" required placeholder="Enter your Email">
            </div>
        <div class="input-field">
        <label for="password"></label>
        <input name= "password" type="password" required placeholder="Enter your Password" id='signup_password'>
      </div>
        <div class="input-field">
        <label for="confirm-password"></label>
        <input name= "confirm-password" type="password" required placeholder="Re-Enter your Password" id='signup_cp'>
        </div>
        <button class="btn login">Register</button>
    
    </div> 
        
    </div>
    
    </form>
    
    </div>
    