<h3>Create New Space</h3>

<form action="/space/createSpace" method="POST">
    <label for="space">Space Name : </label>
    <input type="text" name="space" placeholder="Write your space name..." required>

    <br><br>

    <label for="desc">Description : </label>
    <textarea name="desc"  cols="50" rows="4" placeholder="Write description...." required>
    </textarea> 

    <br><br>

    <input type="submit" value='Create Space'>

</form>